doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    link(rel="stylesheet", href="/public/css/chats.css")
    title Nest - Socket.io
  body 
    header 
      h1=roomName
    main
      ul#chat-list 
        each chat in chats  
          li.message=chat 

      button Leave Room

  
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/chats.js") 